{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% set title=item.title %}
{% block body %}
    <div class="content">
        <div class="list">

            <div class="list-item">
                <div class="item-top">
                    <div class="item-title">{{ item.title }}</div>
                    <div class="item-author">{{ item.author }}</div>
                    <form class="update" method="post" action="/sync">
                        <input value="{{ item.id }}" name="id" type="hidden">
                        <input class="update" type="submit" value="更新">
                    </form>
                </div>
                <div class="item-summary">{{ item.summary }}</div>
            </div>

        </div>
        <div class="grid">
            {% for page in pages %}
                <a class="grid-item" href="/detail/{{ page.id }}">{{ page.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}